/**
 * Created by Wong Shin Yueh on 21 Oct 2016
 * FSF3 - Client-side foundation assessment
 * Purpose: Styles for the User Registration form */

body{
    background-color: #fffffa;
}
li{
    list-style-type: decimal;
    text-align: left;
}
.center{
    text-align: center;
}
.red{
    color: red;
}
#regform, .showusers {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2em;
}

