<!--
 * Created by Wong Shin Yueh on 21 Oct 2016
 * FSF3 - Client-side foundation assessment
 * Purpose: Create the user registration form view
 *-->

<h1 class="center">User Registration Form</h1>

<div class="row">
    <form id ="regform" name ="regform" class="form-group" ng-submit="myCtrl.submit() && regform.$valid" novalidate>
        <!-- Input Fields: Email, Password , Name, Gender, DOB, Address, Country, Contact  -->

        <div class="form-group">
            <label class="control-label" for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="anna@gmail.com"
                   ng-model="myCtrl.userObject.email" autocomplete="off" required>
            <div class="validation" data-ng-show="regform.email.$touched || regform.$submitted">
                <span data-ng-show="regform.email.$error.required && regform.email.$touched" class="validation-eror red" >
                      Email is mandatory
                </span>
                <span data-ng-show="regform.email.$error.email" class="validation-eror red" >
                      Invalid email
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter 5 to 10 characters"
                   ng-model="myCtrl.userObject.password" ng-minlength='5' ng-maxlength='10' autocomplete="off" required>
            <div class="validation" data-ng-show="regform.password.$touched || regform.$submitted">
                <span data-ng-show="regform.password.$error.required" class="validation-eror red" >
                      Password is mandatory
                </span>
                <span data-ng-show="regform.password.$error.minlength" class="validation-eror red" >
                      Password must be at least 5 characters
                </span>
                <span data-ng-show="regform.password.$error.maxlength" class="validation-eror red" >
                      Password must between 5 to 10 characters
                </span>
            </div>
        </div>
        <div class="form-group">
             <label class="control-label" for="name">Name </label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="myCtrl.userObject.name" autocomplete="off" required>
                <div class="validation" data-ng-show="regform.name.$touched || regform.$submitted">
                        <span data-ng-show="regform.name.$error.required" class="validation-eror red" >
                            Name is mandatory
                        </span>
                </div>
        </div>

        <div class="form-group">
            <label class="control-label">Gender</label>
            <input type="radio" name="gender" id="gender1"
                   ng-model="myCtrl.userObject.gender" value="1" required> Male
            <input type="radio" name="gender" id="gender2"
                   ng-model="myCtrl.userObject.gender" value="0"> Female
        </div>

        <div class="form-group">
            <label class="control-label" for="dob">Date of Birth </label>
            <input type="date" class="form-control" id="dob" name="dob"
                   ng-model="myCtrl.userObject.dob" required>
            <div class="validation" data-ng-show="regform.dob.$touched || regform.$submitted">
                <span data-ng-show="regform.dob.$error.required" class="validation-eror red" >
                    Date of Birth is mandatory
                </span>
                <span data-ng-show="regform.dob.$invalid" class="validation-eror red" >
                    Invalid date of birth. Enter dd/mm/yyyy
                </span>
                <span data-ng-show="myCtrl.isAgeValid()">
                    You must be at least 18 years old to register!
                </span>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="address">Address </label>
            <textarea class="form-control" rows="5" id="address" name="address"
                      ng-model="myCtrl.userObject.address" autocomplete="off" required>

            </textarea>

            <div class="validation" data-ng-show="regform.address.$touched || regform.$submitted">
                <span data-ng-show="regform.address.$error.required" class="validation-eror red" >
                    Address is mandatory
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="name">Country </label>
            <input type="text" class="form-control" id="country" name="country"
                   ng-model="myCtrl.userObject.country" autocomplete="off" required>
            <div class="validation" data-ng-show="regform.country.$touched || regform.$submitted">
                <span data-ng-show="regform.country.$error.required" class="validation-eror red" >
                    Country is mandatory
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="phone">Contact No:</label>
            <input type="text" class="form-control" id="phone" name ="phone"
                   placeholder="+65" ng-model="myCtrl.userObject.phone" ng-class="has-error"
                   ng-pattern="/^\+(?:[0-9] ?){9,16}[0-9]$/"
                   autocomplete="off" required>
            <div class="validation" data-ng-show="regform.phone.$touched || regform.$submitted">
                <span data-ng-show="regform.phone.$error.required" class="validation-eror red" >
                    Contact Number is mandatory
                </span>
                <span data-ng-show="regform.phone.$error.pattern" class="validation-eror red" >
                    Invalid format contact number, e.g. +65 91231233
                </span>
            </div>
        </div>

        <button type="submit" class="btn primary"
                ng-disabled="regform.$invalid">
            Submit
        </button>

    </form>

    <div class="alert alert-success center" role="alert" data-ng-show="myCtrl.server_response">
        {{myCtrl.server_response}}
    </div>

</div>


