<!--
 * Created by Wong Shin Yueh on 21 Oct 2016
 * FSF3 - Client-side foundation assessment
 * Purpose: Create the List of Registered Users view
 * Note: this is an extra page to demonstrate the use of ng-repeat
 *-->

<div id="guestlist" class="row center">
    <div ng-show="myCtrl.users.length <= 0">
        <h3>There are currently no registered users</h3>
    </div>

    <div class="showusers" ng-show="myCtrl.users.length > 0">
        <h3>Total Registered Users: {{myCtrl.users.length}}  </h3>

        <ol>
            <div ng-repeat="i in myCtrl.users track by $index">
                <li>{{i.name}} </li>
            </div>
        </ol>
    </div>
</div>